.footer{
    background: #ECECEC;
    width: 100%;
    height: 340px;
}

.container{
    width: 1396px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    gap: 150px;
}

.content{
    display: flex;
    gap: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.logo h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 148%;
    letter-spacing: 0.2px;
    color: #352F2F;
}


.logo{
    width: 425px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 10px;
}

.link{
    display: flex;
    gap: 50px;
}
.nav{
    line-height: 130%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    letter-spacing: 0.2px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #222222;
    font-size: 20px;
}

.file{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */

    letter-spacing: 0.2px;
    text-decoration-line: underline;
    font-feature-settings: 'pnum' on, 'lnum' on;
    /* Dark grey */

    color: #222222;
    font-size: 20px;
}



@media (max-width:768px){
    .container{
        width: 500px;
        flex-direction: column;
        gap: 250px;
        margin-left: 25px;
    }

    .footer{
        height: 700px;
    }

    .content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .logo h3{
        font-size: 15px;
        width: 340px;
    }

    .content{
        gap: 30px;
    }

    .file p:last-child{
        width: 300px;
    }

    .file{
        font-size: 15px;
    }

    .nav{
        font-size: 15px;
    }
}
