*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container{
    min-height: calc(100vh - 80px);
}

@font-face {
    font-family: 'Giga Sans';
    src: url(/src/fonts/giga_sans/GigaSans-Medium.ttf);
}

@media(max-width:1680px){
    .container{
        max-width: 1400px;
    }

}

.firstContainer{
    background: #F42E30;
    width: 100%;
}

.fisrtContent{
    height: 715px;
    width: 1650px;
    margin: 0 auto;
    background: #F42E30;
    display: flex;
}

.secondContainer{
    max-height: 1000px;
    min-height: 300px;
}

.thirdContainer{
    height: 1000px;
    background: #8269EF;
}

.thirdContent{
    width: 1680px;
    margin: 0 auto;
}

.firstText{
    padding-top: 7%;
}

.firstText h1{
    font-family: 'Giga Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.firstText img{
    padding-top: 31px;
}

.firstText p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 128%;
    width: 597px;
    color: #FFFFFF;
    margin-top: 66px;
    margin-left: 152px;
}

.search{
    display: flex;

}

.search img{
    position: absolute;

}

.secondText{
    padding-top: 110px;
    font-family: 'Inter';
    font-style: normal;
    align-items: center;
    text-align: center;
}

.secondText h1{
    font-weight: 800;
    font-size: 104px;
    line-height: 126px;
    color: #FFFFFF;
}

.secondText p{  
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin-right: 360px;
    color: #FFFFFF;
}

.textContent{

    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 170px;

    color: #FFFFFF;
}

.textContent p{
    width: 668px;
}

.textContent p1{
    margin-left: 200px;
    width: 668px;
}

.btn button{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.11);
    border-radius: 16px;
    width: 363px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    border: none;
    cursor: pointer;

    color: #8269EF;
}

.btn{
    display: flex;
    padding-top: 50px;
}

#postVacancy{
    margin-left: 14%;
}

#createResume{
    margin-left: auto;
    margin-right: 16%;
}


.img{
    position: absolute;
    top: 386px;
    border-radius: 0 50px;
}

.svg{
    background-image: url(/public/img/container.svg);
    background-repeat: no-repeat;
    height: 160px;
    
}

.svg1{
    background-image: url(/public/img/container1.svg);
    background-repeat: no-repeat;
    height: 130px;
    margin: 0 auto;
}

.svg2{
    background-image: url(/public/img/footer.svg);
    background-repeat: no-repeat;
    height: 160px;
    margin-top: 190px;
}

.firstSvg{
    margin-top: 97px;
    margin-left: 100px;
}

.vacancy{
    display: flex;
}

.secondContent{
    width: 1680px;
    margin: 80px auto;

}   

.new hr{
    background: #C0ECAB;
    border-radius: 15px;   
    width: 405px;
    height: 15px; 
    border: none;
    margin-right: 20px;
}

.featured hr{
    background: #ECABB3;
    border-radius: 15px;   
    width: 405px;
    height: 15px; 
    border: none;
    margin-right: 20px;
}

.popular hr{
    background: #EBABEC;
    border-radius: 15px;   
    width: 405px;
    height: 15px; 
    border: none;
    margin-right: 20px;
}

.recent hr{
    background: #ABECEC;
    border-radius: 15px;   
    width: 405px;
    height: 15px; 
    border: none;
}

.vacancy h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
    display: flex;
    justify-content: center;
}