*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container{
    min-height: calc(100vh - 80px);
    width: 1680px;
    margin: 0px auto;
}

@media(max-width:1680px){
    .container{
        max-width: 1400px;
    }

}


.fisrtContent{
    height: 850px;
}

.firstText{
    padding-top: 10%;
}

.firstText h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    width: 1009px;
    color: #000000;
}

.firstText p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    padding-top: 41px;
    width: 530px;

    color: #000000;
}

.search{
    display: flex;
    padding-top: 61px;
}

.search input{
    width: 546px;
    height: 57px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: block;
    /* identical to box height */

    align-items: center;

    color: rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: none;
}

.search input:focus{
    outline: none;
}

.search button{
    margin-left: 20px;
    width: 57px;
    display: block;
    background: #F52D30;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btnView{
    display: flex;
    justify-content: center;
    padding-top: 12%; 
}

.btnView button{
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.secondContent{
    margin-top: 5%;
}

.secondText{
    font-family: 'Inter';
    font-style: normal;
    align-items: center;
    text-align: center;
}

.secondText h1{
    font-weight: 600;
    font-size: 104px;
    line-height: 126px;
    color: #000000;
}

.secondText p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-right: 360px;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

.textContent{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 130px;

    color: #000000;
}

.textContent p{
    width: 668px;
}

.textContent p1{
    margin-left: 200px;
    width: 668px;
}

.btn button{
    background: #F52D30;
    border-radius: 14px;
    width: 311px;
    height: 52px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    border: none;
    cursor: pointer;

    color: #FFFFFF;
}

.btn{
    display: flex;
    padding-top: 50px;
}

#postVacancy{
    margin-left: 14%;
}

#createResume{
    margin-left: auto;
    margin-right: 16%;
}


