.aboutUs-content{
    margin-left: 14%;
    padding-top: 130px;
}

.title-aboutUs{
    font-family: 'Inter';
    font-style: normal;
    align-items: center;
    color: #000000;
}

.title-aboutUs h1{
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
}

.title-aboutUs p{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.number-about{
    display: flex;
    margin-top: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 91px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.23);
}

.number-about p{
    padding-right: 336px;
}

.text-number{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;

    color: #000000;
}

.text-number p{
    width: 400px;
}