*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.register{
    display: grid;
    justify-items: center;
    margin-top: 0.5%;
    margin-bottom: 4%;
}

.box-reg{
    width: 661px;
    height: 912px;
    left: calc(50% - 661px/2);
    background: #FFFFFF;
    /* button shadow */

    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.11);
    border-radius: 64px;
}

.reg-up img{
    margin-left: 39%;
    margin-top: 20px;
}

.reg-up h1{
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.name{
    padding-left: 83px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;

    color: rgba(0, 0, 0, 0.65)
}

.input-dt{
    padding-top: 20px;
    display: flex;
    padding: 0 13%;
    padding-bottom: 10px;
}

.input-dt input{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 120%;
    padding-left: 24px;
    color: #8269EF;
    background: #E0DBFA;
    border-radius: 16px;
    width: 100%;
    height: 50px;
    border: none;
}

.input-dt input:focus{
    outline: none;
}

.input-dt input::-webkit-input-placeholder {
    color: #8269EF;
}

.lastName{
    padding-left: 83px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    padding-top: 10px;
    display: block;
    padding-top: 25px;

    color: rgba(0, 0, 0, 0.65)
}

.ln{
    padding-left: 83px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    display: block;
    padding-top: 25px;

    color: rgba(0, 0, 0, 0.65)
}

.email{
    padding-left: 83px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    display: block;
    padding-top: 25px;

    color: rgba(0, 0, 0, 0.65)
}

.pass{
    padding-left: 83px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    display: block;
    padding-top: 25px;

    color: rgba(0, 0, 0, 0.65)
}

.second_pass{
    padding-left: 83px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    display: block;
    padding-top: 25px;

    color: rgba(0, 0, 0, 0.65)
}

.accept{
    margin-top: 20px;   
    height: 24.49px;
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding-left: 20%;

    color: #8269EF;
}

.accept p{
    padding-left: 24px;
}

.reg-btn{
    padding: 0 13%;
    padding-top: 20px;
}

.reg-btn button{
    width: 100%;
    height: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 16px */

    text-align: center;

    color: #FFFFFF;/* цвет текста */
    border: none;
    cursor: pointer;

    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #191919;
    border-radius: 16px;
    outline: none;
}

.login-btn button{
    margin-top: 15px;
    background: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    cursor: pointer;
}

.login-btn{
    display: flex;
    justify-content: center;
}
