*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.register-company{
    display: grid;
    justify-items: center;
    margin-top: 2.5%;
}

.box-company{
    width: 661px;
    height: 802px;
    left: calc(50% - 661px/2);
    background: #FFFFFF;
    /* button shadow */

    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.11);
    border-radius: 64px;
}

.reg-company img{
    margin-left: 39%;
    margin-top: 20px;
}

.reg-company h1{
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.company-name{
    display: block;
    padding-top: 25px;
    padding-left: 57px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;

    color: rgba(0, 0, 0, 0.65)
}

.input-company{
    padding-top: 20px;
    display: flex;
    padding: 0 13%;
    padding-bottom: 10px;
}

.input-company input{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    opacity: 0.9;
    line-height: 120%;
    padding-left: 24px;
    color: #8269EF;
    background: #E0DBFA;
    border-radius: 16px;
    width: 100%;
    height: 50px;
    border: none;
}

.input-company input::-webkit-input-placeholder {
    color: #8269EF;
}

.input-company input:focus{
    outline: none;
}

.hr-company{
    width: 433px;
    height: 0px;
    border: 1px solid #636363;
    margin-left: auto;
    margin-right: auto;
}

.accept-company{
    margin-top: 20px;   
    height: 24.49px;
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding-left: 20%;

    color: #8269EF;
}

.accept-company p{
    padding-left: 24px;
}

.company-btn{
    padding: 0 13%;
    padding-top: 20px;
}

.company-btn button{
    width: 100%;
    height: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 16px */

    text-align: center;

    color: #FFFFFF;/* цвет текста */
    border: none;
    cursor: pointer;

    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #191919;
    border-radius: 16px;
    outline: none;
}


.route-singIn button{
    margin-top: 15px;
    background: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    cursor: pointer;
}

.route-singIn{
    display: flex;
    justify-content: center;
}