*{
    margin: 0;
    padding: 0;;
    font-family: 'Inter', sans-serif;
}

.auth{
    display: grid;
    justify-items: center;
    margin-top: 2.5%;
    
}

.box-auth{
    width: 661px;
    height: 802px;
    left: calc(50% - 661px/2);
    background: #FFFFFF;
    /* button shadow */

    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.11);
    border-radius: 64px;
}

.sing-up{
    margin-top: 60px;
    display: grid;
}

.sing-up img{
    margin-left: 39%;
}

.sing-up h1{
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    margin-bottom: 65px;
}

.input-data{
    padding-top: 20px;
    display: flex;
    padding: 0 13%;
    padding-bottom: 10px;
}

.input-data input{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 120%;
    padding-left: 24px;
    color: #8269EF;
    background: #E0DBFA;
    border-radius: 16px;
    width: 100%;
    height: 50px;
    border: none;
}

.input-data input::-webkit-input-placeholder {
    color: #8269EF;
}

.input-data input:focus{
    outline: none;
}


.password{
    padding-left: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    padding-top: 25px;
    display: block;

    color: rgba(0, 0, 0, 0.65)
}

.remember-me{
    width: 551.4px;
    height: 24.49px;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    padding-left: 14%;
    padding-top: 10px;
    display: block;

    color: rgba(0, 0, 0, 0.5);
}

.remember-me label{
    padding-left: 14px;
}

.auth-btn{
    padding: 0 13%;
    padding-top: 32px;
}

.auth-btn button{
    width: 100%;
    height: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 16px */

    text-align: center;

    color: #FFFFFF;/* цвет текста */
    border: none;

    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #191919;
    border-radius: 16px;
    outline: none;
}

.auth-btn button:hover{
    cursor: pointer;
}

.next{
    display: flex;
    justify-content: center;
}

.next button{
    background: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-top: 18px;
}

.next button:hover{
    cursor: pointer;
}