.container{
    min-height: calc(100vh - 80px);
    width: 1396px;
    margin: 100px auto;
}

.cardCompany{
    display: flex;
}

.vacancy{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 971px;
    height: 300px;
    height: 350px;
}

.vacancy button{
    width: 250px;
    height: 40px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    cursor: pointer;
    text-align: center;
    color: #FFFFFF;/* цвет текста */
    border: none;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #F52D30;
    border-radius: 16px;
    outline: none;
    margin: 20px 30px;
}

.vacancy h2{
    background: #191919;
    border-radius: 16px;
    outline: none;
}

.vacancy h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin: 30px;
}

.vacancy p{
}

.vacancy p:first-child{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 5px 30px;
}
/* 
=======

    color: #000000;
}

.vacancy p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    /* display: flex;
    align-items: center;
    color: #000000;
} */

.company{
    width: 405px;
    height: 350px;
    margin-left: 20px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

.content h1{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    color: #000000;
}

.content p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
}

.vacancy h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin: 0 30px;
    color: #000000;
    padding-bottom: 50px;
}

.duties h3{
    margin: 40px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.duties p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 20px;
}

.expectations h3{
    margin: 40px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.expectations p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 20px;
}
.conditions h3{
    margin: 40px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.conditions p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 20px;
}
.skills h3{
    margin: 40px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.skills p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 20px;
}
.secondContent{
    margin: 50px 0;
    width: 971px;
}
.secondContent h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 15px 0;
    color: #000000;
    margin-left: 20px;
}

.secondContent h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 35px;
}

.secondContent span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0664D3CC;;
    text-decoration: underline;
    padding-left: 7px;
}
.content{
    width: 971px;
}
