.container{
    min-height: calc(100vh - 80px);
}

.inputSearch input{
    background: #ECECEC;
    border-radius: 20px;
    width: 572px;
    height: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    border: none;
    padding: 20px 13px;
    outline: none;
}

.search{
    width: 1396px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.sortVacancy{
    margin-top: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

.hr{
    margin-top: 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.vacancy{
    width: 1396px;
    margin: 0 auto;
}

@media(max-width:480px){
    .container{
        min-height: calc(100vh - 80px);
    }
    
    .inputSearch input{
        background: #ECECEC;
        border-radius: 20px;
        width: 90vw;
        height: 36px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        
        border: none;
        padding: 20px 13px;
        outline: none;
    }
    .inputSearch{
        margin-left: 10px;
    }
    
    .search{
        width: 380px;
        margin-top: 45px;
    }
    
    .sortVacancy{
        margin-top: 30px;
        font-size: 18px;
        margin-left: 10px;
    }
    
    .hr{
        margin-top: 14px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 50px;
    }
    
    .vacancy{
        width: 100vw;
        margin: 0 auto;
    }
}