.title-static{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
    margin-top: 4%;

    /* identical to box height */


    color: #000000
}

.register-dynamics{
    display: flex;
    margin-top: 4%;
}

.register-dynamics p{
    margin-left: 15%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 54px;

    color: #000000;
}

.register-dynamics button{
    margin-right: 15%;
    margin-left: auto;
    background: none;
    border: 2px solid #F52D30;
    border-radius: 25px;
    width: 199px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;

    color: #F52D30;
}

.register-dynamics button img{
    padding-right: 11px;
    padding-left: 13px;
}

.mouth-select{
    margin-left: 15px;
}

.chart{
    padding-top: 55px;
    margin-left: 20%;
} 


.chart p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

.chart1{
    padding-top: 55px;
    width: 458px;
    height: 458px;
    margin-left: 15%;
}

.chart2{
    padding-top: 55px;
    
    margin-left: 18%;
}