.container{
    min-height: calc(100vh - 80px);
    width: 1680px;
    margin: 0px auto;
    padding-bottom: 100px;
}

.title{
    display: flex;
    justify-content: center;
    padding-top: 103px;
    align-items: center;
}

.title hr{
    border: 1px solid #C6B9FE;
    width: 100px;
    height: 0;
}

.title h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

    color: #8269EF;
}


.companyName p{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-top: 25px;
    padding-left: 7px;
}


.email p{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-top: 25px;
    padding-left: 7px;
}


.login p{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-top: 25px;
    padding-left: 7px;
}
