.btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-right: 20px;
    border: none;
    height: 45px;
    cursor: pointer;

    background: #EFEFEF;
    border-radius: 1000px;
    padding: 13px 25px;

    color: #333333;
}
