.header-singIn{
    background: black;
    width: 100%;
    height: 80px;
    display: flex;
}

.navLink{
    display: flex;
    padding-left: 59px;
}
.navLink a{
    padding-left: 33px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.header-logo{
    padding-left: 160px;
    padding-top: 15px;
}

.search-button{
    margin-left: auto;
    padding-right: 30px;
    display: flex;  
}

.search-button button{
    padding-left: 12px;
    background: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
    height: 30px;
    margin-top: 24px;
    cursor: pointer;
}

.search-button img{
    width: 35px;
}

.header-singIn-btn{
    padding-top: 17px;
    padding-right: 160px;
}

.header-singIn-btn button{
    width: 110px;
    height: 45px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    padding-left: 17.3px;
    padding-top: 7px;
    cursor: pointer;
    color: #FFFFFF;
}



