.header{
    background: linear-gradient(to right, #F42E30 50%, #FFFFFF 50%);
}

.container{
    background: #FFFFFF;;
    width: 1899px;
    margin: 0 auto;
    display: flex;
}

.logo{
    background-image: url(/public/img/header.svg);
    background-position: left;
    background-repeat: no-repeat;
    width: 520px;
    height: 106px;
    display: flex;
}

.logo a:first-child{
    display: block;
    margin-left: 26px;
    margin-top: 19px;
}

.logo a:not(:first-child){
    text-decoration: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    width: 194px;
    height: 46px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #F52D30;
    margin: 35px;
    padding: 1px;
}

.logo a:not(:first-child):hover{
    background: #EFEFEF;
}

.link{
    padding-top: 35px;
    
    display: flex;
    gap: 20px;
}

.link a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    height: 45px;
    background: #EFEFEF;
    border-radius: 1000px;
    padding: 0 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #333333;
}

.a{
    background-color: #F42E30;
    height: 20px;
    width: 100%;
    margin-top: -3px;
    border-radius: 0  20px;
}

.singIn_btn{
    position: relative;
    margin-right: auto;
    padding-top: 30px;
    z-index: 5; 
    right: 120px;
}

.singIn_btn button{
    background: #8269EF;
    border-radius: 56px;
    border: none;
    width: 124px;
    height: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    /* identical to box height */


    color: #FFFFFF;
}

.singUp_btn{
    padding-top: 30px;
    margin-left: 22px;
}

.singUp_btn button{
    background: #EFEFEF;
    border-radius: 56px;
    width: 275px;
    height: 45px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-right: 100px;
    cursor: pointer;
    /* identical to box height */


    color: #000000;
}

.btn button{
    background: #EFEFEF;
    border-radius: 3243.24px;
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
}

.btn{
    padding-top: 30px;
    padding-left: 370px;
}

