.table1 {
	width: 1280px;
	border: none;
	margin-bottom: 20px;
	border-collapse: separate;
}
.table1 thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #EDEDED;
	font-size: 14px;
	border-top: 1px solid #ddd;
}
.table1 tr th:first-child, .table tr td:first-child {
	border-left: 1px solid #ddd;
}
.table1 tr th:last-child, .table tr td:last-child {
	border-right: 1px solid #ddd;
}
.table1 thead tr th:first-child {
	border-radius: 20px 0 0 0;
}
.table1 thead tr th:last-child {
	border-radius: 0 20px 0 0;
}
.table1 tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table1 tbody tr:nth-child(even) {
	background: #F8F8F8;
}
.table1 tbody tr:last-child td{
	border-bottom: 1px solid #ddd;
}
.table1 tbody tr:last-child td:first-child {
	border-radius: 0 0 0 20px;
}
.table1 tbody tr:last-child td:last-child {
	border-radius: 0 0 20px 0;
}