.card{
    width: 830px;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 50px;
}

.title{
    display: flex;
}

.title img{
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
}

.content{
    margin-top: 12px;
    margin-left: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #000000;
}

.title a{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-decoration: none;

    color: #8269EF;
    margin-top: 20px;
    margin-left: 25px;
}

.title a:hover{
    color: #F42E30;
}

.link button{
    width: 180px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    cursor: pointer;
    text-align: center;
    color: #FFFFFF;/* цвет текста */
    border: none;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #352F2F;
    border-radius: 12px;
    outline: none;
}

.link{
    margin-left: 25px;
    margin-top: 22px;
}

@media(max-width:480px){
    .card{
        width: 90vw;
        height: 235px;
        margin-left: 15px;
        margin-bottom: 30px;
    }
    
    .content{
        margin-left: 15px;
        font-size: 13px;
    }
    
    .title a{
        font-size: 20px;
        margin-top: 10px;
        margin-left: 15px;
    }
    
    
    .link button{
        font-size: 15px;
    }
    
    .link{
        margin-left: 15px;
        margin-top: 15px;
    }
}

