.card{
    width: 830px;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 50px;
}

.title{
    display: flex;
}

.title img{
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
}

.content{
    margin-top: 12px;
    margin-left: 25px;
}

.title h2{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-decoration: none;

    color: #F52D30;
    margin-top: 20px;
    margin-left: 25px;
}

.firstText{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    color: #000000;
}

.secondText{
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

.link a{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-decoration-line: underline;

    color: rgba(6, 100, 211, 0.8);
}

.link{
    float: right;
    margin-right: 20px;
    margin-top: 25px;
}


