.btn{
    padding-top: 30px;
    margin-left: 22px;
}

.btn button{
    background: #EFEFEF;
    border-radius: 56px;
    width: 220px;
    height: 45px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    color: #000000;
}