*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.RoleSelection{
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
}

.RS-box{
    width: 546px;
    height: 426px;
    left: calc(50% - 546px/2);
    top: calc(50% - 426px/2 - 15px);
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.reg-logo img{
    padding-top: 17px;
    padding-left: 223px;
}

.reg-logo h1{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #000000
}

.i-search h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    padding-top: 20px;
    text-align: center;
}

.input-role{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-top: 15px;
    padding-left: 133px;
}

.input-role label{
    padding-left: 35px;
}

.onward-btn{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.onward-btn button{
    width: 122.89px;
    height: 42.21px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF; /* цвет текста */
    border: none;
    cursor: pointer;

    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #F52D30; /* фон кнопки */
    border-radius: 10px;
    outline: none;
}

.role-btn{
    display: flex;
    justify-content: center;
}

.role-btn button{
    background: none;
    border: none;
    padding-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}
