*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.register{
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
}

.box-reg{
    position: absolute;
    width: 600px;
    height: 1029px;
    left: calc(50% - 600px/2);
    top: calc(50% - 915px/2 + 13.5px);
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.reg-up img{
    padding-top: 11px;
    padding-left: 250px;
}

.reg-up h1{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #000000
}

.name{
    padding-left: 83px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;

    color: rgba(0, 0, 0, 0.65)
}

.input-dt{
    padding-top: 20px;
    display: flex;
    padding-left: 85px;
    padding-bottom: 10px;
}

.input-dt input{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border: none;
    padding-left: 25px;

    color: rgba(0, 0, 0, 0.5);
}

.input-dt input:focus{
    outline: none;
}

.hr-data{
    width: 433.01px;
    height: 0px;
    border: 1px solid #636363;
    margin-left: auto;
    margin-right: auto;
}

.lastName{
    padding-left: 83px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    padding-top: 10px;
    display: block;
    padding-top: 25px;

    color: rgba(0, 0, 0, 0.65)
}

.ln{
    padding-left: 83px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    display: block;
    padding-top: 25px;

    color: rgba(0, 0, 0, 0.65)
}

.email{
    padding-left: 83px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    display: block;
    padding-top: 25px;

    color: rgba(0, 0, 0, 0.65)
}

.pass{
    padding-left: 83px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    display: block;
    padding-top: 25px;

    color: rgba(0, 0, 0, 0.65)
}

.second_pass{
    padding-left: 83px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    display: block;
    padding-top: 25px;

    color: rgba(0, 0, 0, 0.65)
}

.accept{
    width: 551.4px;
    height: 24.49px;
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding-left: 101px;
    padding-top: 10px;

    color: rgba(0, 0, 0, 0.5);
}

.accept p{
    padding-left: 14px;
    width: 400px;
}

.reg-btn{
    padding-left: 143px;
    padding-top: 32px;
}

.reg-btn button{
    width: 316px;
    height: 33px;

    font-style: normal;
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF; /* цвет текста */
    border: none;
    cursor: pointer;

    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #F52D30; /* фон кнопки */
    border-radius: 10px;
    outline: none;
}

.login-btn button{
    background: none;
    border: none;
    padding-left: 215px;
    padding-top: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}

